@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");

// @import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,700,800");

$light-background: #faf9fb;
$dark-background: #7e57c2;
$black-color: #201f20;
$green-color: #b2df8a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.basic__input {
  padding-left: 27px;
  height: 55px;
  opacity: 0.7;
  outline: none;
  border: 1.5px solid #201f20;
  &::placeholder {
    text-decoration: underline;
    font-size: 18px;
    color: #000000;
    font-family: "FiraGO", sans-serif;
  }
}

.basic__btn {
  background-color: $dark-background;
  font-family: "FiraGO", sans-serif;
  font-weight: 700;
  outline: none;
  border-style: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #7251b5;
  }
}

.nino__mtavruli {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.nino__elit {
  font-family: "BPG Nino Elite Caps", sans-serif;
}

.segoe {
  font-family: "Segoe UI", sans-serif;
}

// errors

.email__error__text {
  display: none;
  top: 52px;
  color: #e64444;
  font-size: 14px;
  padding-left: 20px;
  position: absolute;
}
.email__error {
  border-color: #e64444;
}
.password__error__text {
  display: none;
  color: #e19c57;
  font-size: 14px;
  padding-left: 20px;
  bottom: 25px;
  position: absolute;
}
.password__error {
  border-color: #e19c57;
  color: #e19c57;
  text-decoration: underline;
}
.password__wrong__text {
  display: none;
  font-size: 14px;
  padding-left: 20px;
  bottom: 25px;
  position: absolute;
  color: #e64444;
}
.password__wrong {
  border: none;
  background-color: #e79e9e;
  text-decoration: underline;
  color: #e64444;
}
.password__correct {
  border-color: #b2df8a;
  color: #b2df8a;
  text-decoration: underline;
}

.firago {
  font-family: "FiraGO", sans-serif;
}
