.home__body{
    height: 100%;
    background: #ccc;    
}
.main__body {
    background-color: $light-background;
    // margin-left: 140px;
    // margin-top: 50px;
    height: 100vh;
    background-image: url(../assets/Polygon1.svg);
    background-repeat: no-repeat;
    background-position-x: -500px;
    background-position-y: -300px;
    display: flex;

    justify-content: center;
    align-items: center;
}

// header {
//   padding-left: 110px;
// }
.main__content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // height: 600px;
    // width: 1200px;

    .main__title {
        width: 100%;

        flex-grow: 1;
    }
}

.left__section {
    width: 630px;
    color: #0b0b0c;
    text-align: left;

    .left__text {
        margin-top: 50px;
        border-radius: 15px;
        opacity: 0.8;
        font-weight: bold;
        color: #0b0b0c;

        background-color: #ffff;
        padding: 50px 30px;
        font-size: 16px;
    }

    .left__form {
        @include flex($direct: row);
        z-index: 1000;
        flex-wrap: wrap;
        margin-top: 100px;

        &__input {
            flex-grow: 0.8;
            border-radius: 8px 0 0 8px;
        }

        &__btn {
            height: 55px;
            border-radius: 0 8px 8px 0;
            flex-grow: 0.2;
            font-weight: 300;
        }

        .left__form__title {
            width: 100%;
            margin-bottom: 15px;
            font-weight: bolder;
        }
    }
}

.right__section {
    @include flex($direct: column, $justify: space-between);
    flex: 0.8;

    padding-top: 70px;
    padding-bottom: 50px;

    .auth__btn {
        width: 350px;
        height: 70px;
        border-radius: 44px;
        color: #201f20;
        font-size: 25px;
        font-weight: bold;
        border: 1px solid #29333a;
        background-color: white;
    }

    .registration__btn {
        width: 350px;
        height: 70px;
        font-size: 25px;
        font-weight: bold;
        border-radius: 44px;
    }

    .social {
        color: #201f20;
        font-size: 20px;

        i {
            margin-left: 20px;
            font-size: 30px;
        }
    }

    p {
        font-weight: 700;
    }

    a {
        display: flex;
        margin-bottom: 20px;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(32, 31, 32, 0.51);
}

/* Modal Content */
.modal-content {
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 48px;
    margin: 10vh auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

/* The Close Button */
.close {
    z-index: 11200;
    color: #fff;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-left: auto;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.d-block {
    display: block;
}
.d-none {
    display: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
}