@import "config";
@import "mixins";
@import "fonts";

@import "components/toggle-switch.scss";

@import "global";
@import "auth-popup";
@import "reg-popup";
@import "reset-pass";

@import "home/header";
@import "home/mainContent";
@import "statistics/statistics";

.home__body {
    height: 100vh !important;
    background-color: #faf9fb;
    background-image: url(../assets/Polygon1.svg);
    background-repeat: no-repeat;
    background-position-x: 840px;
    background-position-y: 140px;

}

.s_profile {

    width: 600px;
    margin: 20px 0 0 266px;
    &_basic {
        display: flex;

        &_image {
            width: 138px;
            height: 138px;
            background-image:url('../assets/142589748_2009267505880094_5454304750578971336_o@2x.png') ;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }

        &_text {
            margin: 35px;
            h2 {
                @include font(20px, BPG Nino Mtavruli);
            }
            a {
                text-decoration: underline;
                @include font(14px, FiraGo);
            }
 
        }
    }

    &_form {
        
        position: relative;
        margin-top: 15px;
         h2 {
            @include font(18px, FiraGo);
         }

        .labels {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 38px;
            left: 0;
            
        }


        &_label{
            height: 50px;
            margin-top: 10px;
            position: relative;
            @include font(16px, FiraGo,);
            font-weight: 700;
           
        }

        &_label::after {

            content: url(../assets/edit.svg);
            position: absolute;
            right: -530px;
            cursor: pointer;
            

        }

        form {
            @include flexc($align: start);
            
            h2 {
                margin: 10px 0px;
            }

            

        }

        &_input {
            margin-top: 10px;
            width: 100%;
            height: 50px;
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: #707070;
            background-color: rgba($color: #ffffff, $alpha: 0);
            text-indent: 100px;
            
            
        }

        &_input:focus { 
            outline: none; 
            // background-color: rgba($color: #ffffff, $alpha: 0.1);
        }

        &_input::placeholder {

          @include font(16px, FiraGo,);
        }



    }

}