@import url("http://fonts.cdnfonts.com/css/segoe-ui-4");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.basic__input {
  padding-left: 27px;
  height: 55px;
  opacity: 0.7;
  outline: none;
  border: 1.5px solid #201f20;
}
.basic__input::placeholder {
  text-decoration: underline;
  font-size: 18px;
  color: #000000;
  font-family: "FiraGO", sans-serif;
}

.basic__btn {
  background-color: #7e57c2;
  font-family: "FiraGO", sans-serif;
  font-weight: 700;
  outline: none;
  border-style: none;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.basic__btn:hover {
  background-color: #7251b5;
}

.nino__mtavruli {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.nino__elit {
  font-family: "BPG Nino Elite Caps", sans-serif;
}

.segoe {
  font-family: "Segoe UI", sans-serif;
}

.email__error__text {
  display: none;
  top: 52px;
  color: #e64444;
  font-size: 14px;
  padding-left: 20px;
  position: absolute;
}

.email__error {
  border-color: #e64444;
}

.password__error__text {
  display: none;
  color: #e19c57;
  font-size: 14px;
  padding-left: 20px;
  bottom: 25px;
  position: absolute;
}

.password__error {
  border-color: #e19c57;
  color: #e19c57;
  text-decoration: underline;
}

.password__wrong__text {
  display: none;
  font-size: 14px;
  padding-left: 20px;
  bottom: 25px;
  position: absolute;
  color: #e64444;
}

.password__wrong {
  border: none;
  background-color: #e79e9e;
  text-decoration: underline;
  color: #e64444;
}

.password__correct {
  border-color: #b2df8a;
  color: #b2df8a;
  text-decoration: underline;
}

.firago {
  font-family: "FiraGO", sans-serif;
}

body {
  background-color: #faf9fb;
  height: 100vh;
  background-image: url(../assets/Polygon1.svg);
  background-repeat: no-repeat;
  background-position-x: -500px;
  background-position-y: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main__content .main__title {
  width: 100%;
  flex-grow: 1;
}

.left__section {
  width: 630px;
  color: #0b0b0c;
  text-align: left;
}
.left__section .left__text {
  margin-top: 50px;
  border-radius: 15px;
  opacity: 0.8;
  font-weight: bold;
  color: #0b0b0c;
  background-color: #ffff;
  padding: 50px 30px;
  font-size: 16px;
}
.left__section .left__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
}
.left__section .left__form__input {
  flex-grow: 0.8;
  border-radius: 8px 0 0 8px;
}
.left__section .left__form__btn {
  height: 55px;
  border-radius: 0 8px 8px 0;
  flex-grow: 0.2;
  font-weight: 300;
}
.left__section .left__form .left__form__title {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bolder;
}

.right__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 0.8;
  padding-top: 70px;
  padding-bottom: 50px;
}
.right__section .auth__btn {
  width: 350px;
  height: 70px;
  border-radius: 44px;
  color: #201f20;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid #29333a;
  background-color: white;
}
.right__section .registration__btn {
  width: 350px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 44px;
}
.right__section .social {
  color: #201f20;
  font-size: 20px;
}
.right__section .social i {
  margin-left: 20px;
  font-size: 30px;
}
.right__section p {
  font-weight: 700;
}
.right__section a {
  display: flex;
  margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(32, 31, 32, 0.51);
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  border-radius: 48px;
  margin: 10vh auto;
  padding: 20px;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

/* The Close Button */
.close {
  z-index: 11200;
  color: #fff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-left: auto;
}

.close:hover,
.close:focus {
  color: #a00000;
  text-decoration: none;
  cursor: pointer;
}

.d-block {
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.reg__container {
  display: flex;
  height: 80%;
  align-items: center;
}

.left__container {
  width: 50%;
  padding: 50px;
}
.left__container h1,
.left__container h4 {
  text-align: center;
}
.left__container h1 {
  margin-bottom: 30px;
}
.left__container h4 {
  margin-bottom: 5px;
}

.reg__form {
  position: relative;
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.reg__form input {
  border-radius: 5px;
}
.reg__form .reg__btn {
  width: 150px;
  margin: 0 auto;
  height: 40px;
  border-radius: 45px;
}
.reg__form * {
  margin-bottom: 20px;
}

.right__container {
  z-index: 1000;
  color: #fff;
  position: relative;
  width: 50%;
  padding: 50px;
}
.right__container h1,
.right__container p {
  margin-bottom: 110px;
  text-align: center;
}
.right__container .enter__btn {
  display: block;
  width: 120px;
  height: 40px;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 45px;
  background-color: white;
  color: #7e57c2;
}
.right__container .reg__background {
  z-index: -1;
  top: -490px;
  left: -250px;
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
