.statistics__content {
  padding: 20px 10%;
  .statistics__smallContainer {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .statistics__mediumContainer {
    display: flex;
    justify-content: center;
  }

  .statistics__box {
    width: 600px;
    padding: 20px;
    height: 400px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    opacity: 0.9;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #faf9fb;
    font-weight: bold;
    p {
      text-align: center;
    }
    .chart {
      margin: 50px auto 20px auto;
      height: 200px;
      width: 200px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
    #second__chart {
      margin-top: 25px;
    }
  }
  .statistics__box:not(:last-child) {
    margin-right: 20px;
  }
  .statistics__mediumBox {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    width: 536px;
    padding: 10px;
    height: 340px;
    flex-grow: 1;
    background-color: #faf9fb;
    .heatmap__btn {
      border: 1px solid #7e57c2;
      width: 112px;
      height: 38px;
      border-radius: 7px;
      margin-right: 20px;
    }

    .mediumbox__content {
      width: 98%;
      height: 250px;
      background-color: white;
      border-radius: 10px;
    }
  }
}
.statistics__btn {
  width: 124px;
  height: 38px;
  border: 1px solid #7e57c2;
  border-radius: 7px;
  background-color: white;
  color: #7e57c2;
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

.statistics__mediumBox:not(:last-child) {
  margin-right: 20px;
}
.statistics__largeBox {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  opacity: 0.9;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: #faf9fb;
  .largebox__content {
    width: 98%;
    margin-top: 15px;
    background-color: white;
    height: 490px;
  }
}
.statistics__body {
  background: transparent
    radial-gradient(
      closest-side at 18% 85%,
      #ffffff 0%,
      #f1eef3 70%,
      #e8e3f1 100%
    )
    0% 0% no-repeat padding-box;
}

.active__btn {
  background-color: #7e57c2;
  color: whitesmoke;
}
