{% extends 'flask_user/public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
  <div class="main__content">
    <h1 class="main__title nino__mtavruli"> {{ _('Hortensia - Text Classification') }}</h1>
    <div class="left__section">
      <p class="left__text firago">
          {{ _(
          'Hortensia provides a tool which lets you label sentences based on Robert Plutchik\'s \
          Wheel of Emotions. You will be presented with random sentences derived from our database. \
          The wheel of emotions can be used to choose the specific emotion that followed reading the \
          sentence. Our goal is to collect said data and use it for statistical analysis and machine learning'
          ) }}
      </p>

      <form class="left__form">
        <h3 class="left__form__title nino__elit">{{ _('Subscribe to our newsletter') }}</h3>
        <input id="email-subscription-input" type="text" placeholder="{{ _('Email') }}" class="left__form__input basic__input" />
        <button id="email-subscription-btn" class="left__form__btn basic__btn" type="button">{{ _('Submit') }}</button>
        <p id="email-subscription-help-text" class="firago" style="width: 100%"> <br> </p>
      </form>

    </div>
    <div class="right__section">
      <p class="language nino__mtavruli">ENG/ქარ</p>
      <button id="auth-btn" class="auth__btn basic__btn ">{{ _('Sign in') }}</button>
      <button id="reg-btn" class="registration__btn basic__btn ">
          {{ _('Register') }}
      </button>
      <div class="social">
        <a href="https://www.facebook.com/UniLabEdu/" target="_blank">
          <p class="segoe">{{ _('Follow us on Facebook') }}</p>
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://github.com/temurchichua/AI_HortensIA" target="_blank">
          <p class="segoe">{{ _('Fork us on GitHub') }}</p>
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>

    <div id="auth-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="auth__container">
          <div class="auth__left__container">
            <h1 class="nino__mtavruli">{{ _('SIGN IN') }}</h1>
            <div class="google__logo"><i class="fab fa-google"></i></div>
            <h4>{{ _('Continue with Google') }}</h4>




              {# ** Login form ** #}
            <form action="{{ url_for('user.login') }}" method="POST" class="auth__form" role="form">
                {{ login_form.hidden_tag() }}

                {# Username or Email #}
                {% set field = login_form.username if user_manager.enable_username else login_form.email %}
                {% set identifier_placeholder = _('Username or Email') %}
                {{ render_field(field, placeholder=identifier_placeholder) }}

                {# Password #}
                {% set password_placeholder = _('Password') %}
                {{ render_field(login_form.password, placeholder=password_placeholder) }}

                {# Submit button #}
                {% set submit_login = _('login') %}
                {{ render_submit_field(login_form.submit, auth_action=submit_login) }}
            </form>

          </div>
          <div class="reset__pass__left__container d-none">

                {% if user_manager.enable_forgot_password %}
                    <p>
                        <br/>
                        <a href="{{ url_for('user.forgot_password') }}" tabindex='190'>
                        {%trans%}Forgot your Password?{%endtrans%}</a>
                    </p>
                {% endif %}

{#            <h1 class="nino__mtavruli">პაროლის აღდგენა</h1>#}
{#            <h4>შეიყვანეთ ახალი პაროლი</h4>#}

{#            <form class="reset__pass__form">#}
{#              <input type="email" placeholder="ელ-ფოსტა/სახელი" class="basic__input" />#}
{#              <input type="password" placeholder="პაროლი" class="basic__input" />#}
{#              <button class="reset__pass__btn basic__btn ">დამახსოვრება</button>#}
{#            </form>#}


          </div>
          <div class="right__container">
            <img class="reg__background" src="{{ url_for('static', filename='assets/reg__background.svg') }}" />
            <p class="nino__mtavruli">{{ _('Welcome, Friend!') }}</p>
            <p class="segoe">{{ _('Please, provide your') }}
                </br> {{ _('details and start') }}
                </br> {{ _('the journey with us') }} </p>

            <button class="reg__btn basic__btn">{{ _('Register') }}</button>
          </div>
        </div>
      </div>
    </div>


    <div id="reg-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="reg__container">
          <div class="left__container">
            <h1 class="nino__mtavruli">{{ _('REGISTER') }}</h1>
            <h4>{{ _('Create a new account') }}</h4>

                {# ** Register form ** #}
                <form action="{{ url_for('user.register') }}" method="POST" novalidate formnovalidate class="reg__form" role="form">
                    {{ register_form.hidden_tag() }}

                    {# Username or Email #}
                    {% set field = register_form.username if user_manager.enable_username else register_form.email %}
                    {% set username_placeholder_reg = _('Username') %}
                    {{ render_field(field, placeholder=username_placeholder_reg, extra_class='') }}

                    {% if user_manager.enable_email and user_manager.enable_username %}
                        {% set email_placeholder_reg = _('Email') %}
                        {{ render_field(register_form.email, placeholder=email_placeholder_reg, extra_class='email__input') }}
                    {% endif %}

                    {% set password_placeholder_reg = _('Password') %}
                    {{ render_field(register_form.password, placeholder=password_placeholder_reg, extra_class='password__input') }}

                    {% set submit_register = _('register') %}
                    {{ render_submit_field(register_form.submit, auth_action=submit_register) }}
                </form>

          </div>
          <div class="right__container">
            <img class="reg__background" src="{{ url_for('static', filename='assets/reg__background.svg') }}" />
            <p class="nino__mtavruli ">{{ _('Welcome, Friend!') }}</p>
            <p class="segoe">{{ _('Please, provide your') }}
                </br> {{ _('details and start') }}
                </br> {{ _('the journey with us') }} </p>
            <button class="enter__btn basic__btn">{{ _('Sign in') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}