.home__body {
  background: transparent
    radial-gradient(
      closest-side at 18% 85%,
      #ffffff 0%,
      #f1eef3 70%,
      #e8e3f1 100%
    )
    0% 0% no-repeat padding-box;
}

.home__main__content {
  padding: 20px;

  .home__title {
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.9;
    background-color: #ffff;
    border-radius: 30px;
    max-width: 1300px;
    text-align: center;
    vertical-align: middle;
    padding: 20px 40px 20px 40px;
    height: 91px;
    color: #201f20;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
  }
  .movifiqreb {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    justify-content: space-around;
    margin-top: 20px;
    .home__right__container {
      max-width: 400px;
      padding-top: 50px;
      .restrict__btn {
        width: 368px;
        height: 69px;
        border-radius: 10px;
        font-size: 22px;
      }
      ul {
        margin-top: 20px;
        li {
          margin-top: 20px;
        }
        p {
          font-size: 18px;
        }
      }
      h3 {
        color: #6e10cc;
      }
      .next__btn {
        width: 213px;
        height: 52px;
        color: $dark-background;
        border-radius: 30px;
        border: 1px solid $dark-background;

        margin-top: 50px;
        font-size: 24px;
        font-weight: bold;
      }
      .fa-chevron-right {
        margin-left: 20px;
        font-weight: bold;
      }
    }
  }
}
