<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@next/dist/chartjs-chart-matrix.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.js"></script>
</head>
<body>

    <h1> Dashboard </h1>

        <h4 id="current-streak-text"> ზედიზედ აქტიურობ -- დღე. </h4>
        <h4 id="target-streak-text"> შემდეგი მიზანი: - კვირა. </h4>
        <div class="streak-chart" style="height: 200px; width: 200px">
            <!-- ჩარტის height და width განსაზღვრავს მხოლოდ თანაფარდობას. ჩარტის ზომა დამოკიდებულია ვრეპერ DIV-ზე -->
            <canvas id="streakChart" height="1" width="1"></canvas>
        </div>

        <h4 id="rankup-text"> გადაასწარი ლიდერბორდში შემდეგ მომხმარებელს </h4>
        <h4 id="rankup-goal"> შეავსე კიდევ -- ბარათი. </h4>
        <div class="streak-chart" style="height: 200px; width: 200px">
            <canvas id="rankupGoalChart" height="1" width="1"></canvas>
        </div>

        <h4 id="weekly-text"> ბოლო 7 დღეში შეავსე -- ბარათი. </h4>
        <h4 id="weekly-stage"> შეავსე კიდევ -- ბარათი და გადადი - დონეზე. </h4>
        <div class="streak-chart" style="height: 200px; width: 200px">
            <canvas id="weeklyTopChart" height="1" width="1"></canvas>
        </div>

<br><br>

        <div>
              <button onclick="showChart('tab-activity-heatmap')">Heatmap</button>
              <button onclick="showChart('tab-activity-month')">Last Month</button>
              <button onclick="showChart('tab-activity-week')">Last Week</button>
              <button onclick="showChart('tab-activity-leaderboard')">Leaderboard</button>
        </div>


        <div id="tab-activity-heatmap" class="activity-chart-container animate-left">
          <div class="chartWrapper">
                <!-- ჩარტის height და width განსაზღვრავს მხოლოდ თანაფარდობას. ჩარტის ზომა დამოკიდებულია ვრეპერ DIV-ზე -->
                <canvas id="heatmapChart" height="210" width="600"></canvas>
           </div>
        </div>


        <div id="tab-activity-month" class="activity-chart-container animate-left" style="display:none">
            <div class="chartWrapper">
                <button id="btn-activity-chart-month"> MONTH </button>
                <button id="btn-activity-chart-week"> WEEK </button>
                    <canvas id="monthChart" height="210" width="400"></canvas>
            </div>
        </div>


        <div id="tab-activity-week" class="activity-chart-container animate-left" style="display:none">
            <div class="chartWrapper">
                    <canvas id="weekChart" height="210" width="400"></canvas>
            </div>
        </div>


        <div id="tab-activity-leaderboard" class="activity-chart-container animate-left" style="display:none">
            <div class="chartWrapper">
                    <canvas id="leaderboardChart" height="210" width="400"></canvas>
            </div>
        </div>

    <div class="container">
              <button id="btn-radar-anytime">Any Time</button>
              <button id="btn-radar-month">This Month</button>
              <button id="btn-radar-week">This Week</button>
              <button id="btn-radar-day">Today</button>

            <div class="chartWrapperRadar">
                    <!-- ჩარტის height და width განსაზღვრავს მხოლოდ თანაფარდობას. ჩარტის ზომა დამოკიდებულია ვრეპერ DIV-ზე -->
                    <canvas id="radarChartAnytimePrimary" height="210" width="300"></canvas>
            </div>

            <div class="chartWrapperRadar">
                    <canvas id="radarChartAnytimeSecondary" height="210" width="100"></canvas>
            </div>

    </div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    <script src="script-copy.js"></script>

</body>
</html>