{% extends "base.html" %}

{% block content %}
{% from 'macros/navbar.html' import navbar with context %}
{% from 'macros/current_lang.html' import current_lang with context %}

<body class="statistics__body">

    {{ navbar() }}

    {{ current_lang() }}


    <div class="statistics__content">

        <div class="statistics__smallContainer">

            <div class="statistics__box">
                <p id="current-streak-text" class="goal__centered__text"> {{ _('Loading...') }} </p>
                <p id="rankup-text" class="goal__centered__text"> {{ _('Loading...') }} </p>
                <p id="weekly-goal-text" class="goal__centered__text"> {{ _('Loading...') }} </p>
            </div>

            <div class="statistics__box">
                <div class="chart">
                    <canvas id="streakGoalChart" height="1" width="1"></canvas>
                </div>
                <div class="chart">
                    <canvas id="rankupGoalChart" height="1" width="1"></canvas>
                </div>
                <div class="chart">
                    <canvas id="weeklyGoalChart" height="1" width="1"></canvas>
                </div>
            </div>

            <div class="statistics__box">
                <p id="target-streak-text" class="goal__centered__text"> {{ _('Please wait...') }} </p>
                <p id="rankup-goal" class="goal__centered__text"> {{ _('Please wait...') }} </p>
                <p id="weekly-goal-stage" class="goal__centered__text"> {{ _('Please wait...') }} </p>
            </div>


        </div>


        <div class="statistics__mediumContainer">

            <div class="statistics__mediumBox">

                 <div class="statistics__buttons">
                    <button onclick="showChart('tab-activity-heatmap', 'activity', this)" class="statistics__buttonsActivity statistics__active">{{ _('Heatmap') }}</button>
                    <button onclick="showChart('tab-activity-month', 'activity', this)" class="statistics__buttonsActivity">{{ _('Last Month') }}</button>
                 </div>

                <div id="tab-activity-heatmap" class="activity-chart-container animate-left mediumbox__content">
                     <canvas id="heatmapChart"></canvas>
                </div>


                <div id="tab-activity-month" class="activity-chart-container animate-left mediumbox__content statistics__buttons statistics__buttonsSmall statistics__buttonsLineCharts" style="display:none">
                     <canvas id="monthChart"></canvas>
                          <button id="btn-activity-chart-month" class="statistics__active"> {{ _('Month') }} </button>
                          <button id="btn-activity-chart-week"> {{ _('Week') }} </button>
                </div>

            </div>


            <div class="statistics__mediumBox">

                <div class="statistics__buttons">
                    <button onclick="showChart('tab-leaderboards-leaderboard', 'leaderboards', this)" class="statistics__buttonsLeaderboards statistics__active">{{ _('Leaderboard') }}</button>
                    <button onclick="showChart('tab-leaderboards-weekly', 'leaderboards', this, 'buttons-leaderboards-weekly', this)" class="statistics__buttonsLeaderboards">{{ _('Weekly Table') }}</button>
                    <button onclick="showChart('tab-leaderboards-streaks', 'leaderboards', this)" class="statistics__buttonsLeaderboards">{{ _('Activity Streaks') }}</button>
                </div>

                <div id="tab-leaderboards-leaderboard" class="leaderboard-chart-container animate-left mediumbox__content">
                     <canvas id="leaderboardChart"></canvas>
                </div>



                <div id="tab-leaderboards-weekly" class="leaderboard-chart-container animate-left scrollable-table-div" style="display:none">

                          <table id="table-leaderboards-weekly" class="table__green mediumbox__content">
                            <thead>
                              <tr>
                                <th>{{ _('Username') }}</th>
                                <th>{{ _('Tickets filled in the last 7 days') }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                          </table>
                </div>
                <div id="buttons-leaderboards-weekly" class="leaderboard-chart-container statistics__buttons statistics__buttonsSmall" style="display: none">
                    <button onclick="updateWeeklyLevelsTable('table-leaderboards-weekly', 1, this)" class="statistics__buttonsTableLevels statistics__active">{{ _('Level 1') }}</button>
                    <button onclick="updateWeeklyLevelsTable('table-leaderboards-weekly', 2, this)" class="statistics__buttonsTableLevels">{{ _('Level 2') }}</button>
                    <button onclick="updateWeeklyLevelsTable('table-leaderboards-weekly', 3, this)" class="statistics__buttonsTableLevels">{{ _('Level 3') }}</button>
                </div>


                <div id="tab-leaderboards-streaks" class="leaderboard-chart-container animate-left mediumbox__content" style="display: none">
                     <canvas id="topStreaksChart"></canvas>
                </div>


            </div>

        </div>


        <div class="statistics__radarContainer">

            <div class="radarBoxWrapper">
                <div class="statistics__buttons statistics__buttonsRadars">
                      <button id="btn-radar-anytime" class="statistics__active">{{ _('Any Time') }}</button>
                      <button id="btn-radar-month">{{ _('This Month') }}</button>
                      <button id="btn-radar-week">{{ _('This Week') }}</button>
                      <button id="btn-radar-day">{{ _('Today') }}</button>
                </div>
            </div>


            <div class="radarBoxWrapper">
                <div class="statistics__radarBox">

                          <div class="mediumbox__content">
                              <canvas id="radarChartAnytimePrimary" height="100%" width="100%"></canvas>
                          </div>
                </div>


                <div class="statistics__radarBox">
                          <div class="mediumbox__content">
                              <canvas id="radarChartAnytimeSecondary" height="100%" width="100%"></canvas>
                          </div>
                </div>
            </div>

        </div>


    </div>

    <script src="{{ url_for('dashboard.static', filename='chart-configs.js') }}"></script>
    <script src="{{ url_for('dashboard.static', filename='chart-scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

{% endblock %}