.help-block {
    color: #863434;
    font-family: "FiraGO", sans-serif;
}


.log__out_i {
    margin-left: 20px;
    margin-bottom: 7px;
}


.log__out_i span {
    font-size: 20px;
    border-bottom:1px solid #7e57c2;
}


.center {
    text-align: center;
}

.emotions:hover {
    opacity: 0.3;
}

.home__left__container {
    width: 55%;
}

#emotion-wheel {
    width: 100%;
    height: 100%;
}

.next__btn {
    font-family: "BPG Nino Mtavruli", sans-serif;
    text-align: center;
}

.next__btn:hover {
    box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27)
}


.home__right__container {
    margin-top: 5%;
}

#next-submit-ticket:disabled {
    cursor: not-allowed;
}

.home__body {
  background: transparent
    radial-gradient(
      closest-side at 18% 85%,
      #ffffff 0%,
      #f1eef3 70%,
      #e8e3f1 100%
    )
    0% 0% repeat padding-box;
}

#next-submit-ticket:active {
    background-color: #7e57c2;
    color: white;
}

#ticket-submit-success {
    display: none;
}

#target-card-text {
    position: absolute;
    opacity: 0;
}

#target-card-text {
    overflow: auto;
    height: auto;
}
