@import "./config";
@import "./mixins";

body {
  background-color: $light-background;
  margin-left: 140px;
  margin-top: 50px;
  height: 100vh;
  background-image: url(../assets/Polygon1.svg);
  background-repeat: no-repeat;
  background-position-x: -500px;
  background-position-y: -300px;
}
header {
  padding-left: 110px;
}
.main__content {
  display: flex;
  justify-content: center;
}
.left__section {
  width: 630px;
  margin-top: 40px;
  color: #0b0b0c;
  text-align: left;
  .left__text {
    border-radius: 15px;
    opacity: 0.8;
    color: #0b0b0c;
    font-weight: 500;
    background-color: #ffff;
    padding: 23px 17px;
    font-size: 18px;
  }
  .left__form {
    @include flex($direct: row);
    flex-wrap: wrap;
    margin-top: 100px;
    &__input {
      flex-grow: 0.8;
      border-radius: 8px 0 0 8px;
    }
    &__btn {
      height: 55px;
      border-radius: 0 8px 8px 0;
      flex-grow: 0.2;
    }
  }
  h2 {
    flex-grow: 1;
    margin-bottom: 20px;
  }
}

.right__section {
  @include flex($direct: column, $justify: space-between);
  flex: 0.8;
  padding-top: 70px;
  padding-bottom: 50px;
  .auth__btn {
    width: 350px;
    height: 70px;
    border-radius: 44px;
    color: #201f20;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #29333a;
    background-color: white;
  }
  .registration__btn {
    width: 350px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 44px;
  }
  .social {
    color: #201f20;
    font-size: 25px;
    font-weight: bold;
    i {
      margin-left: 20px;
      font-size: 30px;
    }
  }

  a {
    display: flex;
    margin-bottom: 20px;
  }
}
