


/*!* Loaders animations *!*/

/*.loader {*/
/*    position: absolute;*/
/*    border: 16px solid #f3f3f3;*/
/*    border-radius: 50%;*/
/*    border-top: 16px solid #FF0000;*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    -webkit-animation: spin 2s linear infinite; !* Safari *!*/
/*    animation: spin 2s linear infinite;*/
/*    margin-left: 25%;*/
/*    margin-top: 25%;*/
/*    !*background-color: rgba(0, 0, 0, 0.1)*!*/
/*}*/

/*!* Safari *!*/
/*@-webkit-keyframes spin {*/
/*  0% { -webkit-transform: rotate(0deg); }*/
/*  100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
/*  0% { transform: rotate(0deg); }*/
/*  100% { transform: rotate(360deg); }*/
/*}*/


/*!* Nav-tab view animation *!*/

/*.animate-left {*/
/*    position:relative;*/
/*    animation:animateleft 0.4s*/
/*}*/

/*@keyframes animateleft {*/
/*    from{left:-300px;opacity:0}*/
/*    to{left:0;opacity:1}*/
/*}*/

/*.chartWrapper, .chartWrapperRadar {*/
/*    height: 30%;*/
/*    width: 30%*/
/*}*/

/*.chartWrapperRadar {*/
/*    position: relative;*/
/*    margin-left: 3%;*/
/*}*/

/*.chartAreaWrapperRadar {*/
/*    width: 600px;*/
/*    position: relative;*/
/*}*/


/*.chartWrapper {*/
/*    position: relative;*/
/*    margin-left: 3%;*/
/*}*/

/*.chartWrapper > canvas {*/
/*    !*position: absolute;*!*/
/*    left: 0;*/
/*    top: 0;*/
/*    pointer-events:none;*/
/*}*/

/*.chartAreaWrapperScrollable {*/
/*    width: 800px;*/
/*    overflow-x: scroll;*/
/*}*/

/*.chartAreaWrapper {*/
/*    width: 800px;*/
/*}*/

/*.nav-pills > li > a {*/
/*    color: rgba(127, 92, 194, 1);*/
/*}*/

/*.nav-pills > li > a:hover {*/
/*    background-color: rgba(127, 92, 194, 0.7);*/
/*    color: white*/
/*}*/

/*.nav-pills > li > a.active {*/
/*    background-color: rgba(127, 92, 194, 1)!important;*/
/*    color: white;*/
/*}*/


/*html, body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    background-color: rgb(255, 255, 255);*/
/*    box-sizing: border-box;*/
/*    !*display: flex;*!*/
/*}*/


/*.chartAreaWrapper {*/
/*    border-radius: 20px;*/
/*    box-shadow: 1px 1px 5px 1px rgba(10, 0, 10, 0.16);*/
/*    background-color: rgba(250, 250, 249, 0.6);*/
/*}*/


.scrollable-table-div {
    overflow-y: scroll;
    height: 260px;
    width: 800px;
}

.scrollable-table-div thead th {
    position: sticky;
    top: 0;
}

#table-leaderboards-weekly {
    border-collapse: collapse;
    min-height: 260px;
    height: 260px;
    max-height: 260px;
    width: 96%;
    margin: 10px;
}
#table-leaderboards-weekly * {
    font-size: 14px;
}


#table-leaderboards-weekly th, #table-leaderboards-weekly td {
    padding: 8px 16px;
    border: 1px solid #ccc;
    height: 30px;
}


#table-leaderboards-weekly {
    color: white;
    text-align: center;
    font-weight: bold;
}

.table__green {
    background: -webkit-linear-gradient(left, rgb(24, 203, 135), rgb(13, 182, 196));
    background: linear-gradient(to right, rgb(24, 203, 135), rgb(13, 182, 196));
}

.table__blue {
    background: -webkit-linear-gradient(left, rgb(19, 103, 168), rgb(111, 95, 161));
    background: linear-gradient(to right, rgb(19, 103, 168), rgb(111, 95, 161));
}

.table__red {
    background: -webkit-linear-gradient(left, rgb(149, 22, 148), rgb(184, 17, 84));
    background: linear-gradient(to right, rgb(149, 22, 148), rgb(184, 17, 84));
}


.table__green th {
    background-color: #15bf8f;
}


.table__blue th {
    background-color: #104278;
}


.table__red th {
    background-color: #ad2f6a;
}


/*#tab-leaderboards-weekly * ::-webkit-scrollbar-track*/
/*{*/
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*	border-radius: 10px;*/
/*	background-color: #F5F5F5;*/
/*}*/

/*#tab-leaderboards-weekly * ::-webkit-scrollbar*/
/*{*/
/*	width: 12px;*/
/*	background-color: #F5F5F5;*/
/*}*/

/*#tab-leaderboards-weekly * ::-webkit-scrollbar-thumb*/
/*{*/
/*	border-radius: 10px;*/
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*	background-color: #d9d9d9;*/
/*}*/

/*#tab-leaderboards-weekly * ::-webkit-scrollbar-thumb:hover*/
/*{*/
/*	border-radius: 10px;*/
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*	background-color: #b3b3b3;*/
/*}*/

/*#tab-leaderboards-weekly * ::-webkit-scrollbar-thumb:active*/
/*{*/
/*	border-radius: 10px;*/
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*	background-color: #7b7b7b;*/
/*}*/



.goal__centered__text {
    text-align: center;
}

canvas, .mediumbox__content {
    background-color: #faf9fb!important;
}

.statistics__mediumContainer {
    margin-bottom:40px
}

.statistics__content .statistics__radarBox .mediumbox__content{width:98%;height:250px;background-color:#fff;border-radius:10px}

.statistics__content .statistics__radarBox .heatmap__btn{border:1px solid #7e57c2;width:112px;height:38px;border-radius:7px;margin-right:20px}

.statistics__content .statistics__radarBox{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;align-content:flex-start;opacity:.9;width:536px;padding:10px;height:550px;flex-grow:1}

.statistics__radarBox:not(:last-child){margin-right:20px}

.statistics__content .statistics__radarContainer{display:flex;justify-content:center;flex-direction: column; background-color:#faf9fb;box-shadow:0 3px 6px #00000029;border-radius:18px;}

.radarBoxWrapper {flex-direction: row; display: flex; justify-content: center}

.statistics__content {padding: 20px 5%!important;}

.statistics__box {padding: 5px!important;font-size: 14px!important; height: 2%!important; width: 100%!important; background-color: inherit!important; box-shadow: none!important; display:flex!important; flex-direction: row!important; justify-content: space-around!important;}

.statistics__box p {margin: 0; width: 25%;}

.statistics__box .chart {margin: 10px auto!important; height: 153px!important;}

.statistics__smallContainer {background-color:#faf9fb!important;box-shadow:0 3px 6px #00000029!important;border-radius:18px!important; flex-direction: column!important;}

.statistics__mediumBox {padding: 2px!important; height: 400px!important; align-content: flex-start}

#heatmapChart, #monthChart, #leaderboardChart, #streakChart {height: 270px!important;}

#topStreaksChart {height: 275px!important;}

.statistics__buttons {margin: 10px 0!important;}

.statistics__buttons button {width:124px;height:38px;border-radius:17px;background-color: #8a70c2;color: #ffffff;margin-right:15px;font-size:16px;cursor:pointer;font-weight:700;box-shadow: 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);border: none}

.statistics__buttons button:hover {color: #ffffff; box-shadow: inset 0.1rem 0.09rem 0.2rem rgba(2, 12, 47, 0.27)}

.statistics__buttons button:active{color:#ffffff}


.statistics__buttons .statistics__active {width:128px;height:40px; background-color: #ffffff; color: #1f0839; box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);}
.statistics__buttons .statistics__active:hover {color: #1f0839; box-shadow: inset 0.1rem 0.18rem 0.4rem rgba(2, 12, 47, 0.27);}
.statistics__buttons .statistics__active:active {color: #1f0839}

.statistics__buttonsSmall button, .statistics__buttonsSmall .statistics__active {width: 62px;height:28px;border-radius:17px;font-size: 12px; margin: 3px!important;}

#tab-activity-heatmap, #tab-activity-month, #tab-leaderboards-leaderboard, #tab-leaderboards-weekly, #tab-leaderboards-streaks {
    position:relative;animation:bottom-animation 0.7s}@keyframes bottom-animation{from{top:50px;opacity:0.5} to{top:0;opacity:1}
}

/* direct imports */

.statistics__content{padding:20px 10%}

.statistics__content .statistics__smallContainer{display:flex;margin-bottom:40px;justify-content:space-between}

.statistics__content .statistics__mediumContainer{display:flex;justify-content:center}

.statistics__content .statistics__box{width:600px;padding:20px;height:400px;box-shadow:0 3px 6px #00000029;border-radius:18px;opacity:.9;font-size:20px;display:flex;flex-direction:column;align-items:center;background-color:#faf9fb;font-weight:700}

.statistics__content .statistics__box p{text-align:center}

.statistics__content .statistics__box .chart{margin:50px auto 20px auto;height:200px;width:200px;display:flex;align-items:center;justify-content:center}

.statistics__content .statistics__box #second__chart{margin-top:25px}.statistics__content .statistics__box:not(:last-child){margin-right:20px}.statistics__content .statistics__mediumBox{box-shadow:0 3px 6px #00000029;border-radius:18px;display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;opacity:.9;width:536px;padding:10px;height:340px;flex-grow:1;background-color:#faf9fb}.statistics__content .statistics__mediumBox .heatmap__btn{border:1px solid #7e57c2;width:112px;height:38px;border-radius:7px;margin-right:20px}.statistics__content .statistics__mediumBox .mediumbox__content{width:98%;height:250px;background-color:#fff;border-radius:10px}.statistics__btn{width:124px;height:38px;border:1px solid #7e57c2;border-radius:7px;background-color:#fff;color:#7e57c2;margin-right:15px;font-size:18px;cursor:pointer;font-weight:700}.statistics__mediumBox:not(:last-child){margin-right:20px}.statistics__largeBox{box-shadow:0 3px 6px #00000029;border-radius:18px;opacity:.9;width:80%;height:600px;display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;justify-content:center;margin:0 auto;flex-grow:1;padding-top:50px;margin-bottom:50px;background-color:#faf9fb}.statistics__largeBox .largebox__content{width:98%;margin-top:15px;background-color:#fff;height:490px}.statistics__body{background:transparent radial-gradient(closest-side at 18% 85%,#fff 0,#f1eef3 70%,#e8e3f1 100%) 0 0 no-repeat padding-box}.active__btn{background-color:#7e57c2;color:#f5f5f5}

.statistics__content * {
    font-family: "FiraGO", "BPG Nino Mtavruli", sans-serif;
}

.statistics__buttonsActivity, .statistics__buttonsLeaderboards, .statistics__buttonsTableLevels {
    padding: 0 5px!important;
    width: auto!important;
    font-size: 14px!important;
}