.animate-left {
    position:relative;
    animation:animateleft 0.4s
}

@keyframes animateleft {
    from{left:-300px;opacity:0}
    to{left:0;opacity:1}
}



.chartWrapper {
    position: relative;
    margin-left: 3%;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapperScrollable {
    width: 800px;
    overflow-x: scroll;
}

.chartAreaWrapper {
    width: 800px;
}

.nav-pills > li > a {
    color: rgba(127, 92, 194, 1);
}

.nav-pills > li > a:hover {
    background-color: rgba(127, 92, 194, 0.7);
    color: white
}

.nav-pills > li > a.active {
    background-color: rgba(127, 92, 194, 1)!important;
    color: white;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

.chartAreaWrapper {
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgba(10, 0, 10, 0.16);
    background-color: rgba(250, 250, 249, 0.6);
}
