<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>ტექსტის კლასიფიკაცია</h1>
    </header>

    <section class="main__content">
      <div class="left__section">
        <p class="left__text">
          ხელსაწყო შესაძლებლობას იძლევა ტექსტური ფაილის რუბერტ პლუტჩიკის
          "ემოციური ბორბლის" მიხედვით მარკირების. მომხმარებელს ვებ სერვისი
          სთავაზობს ბარათებს, რომელზეც გამოსახულია შემთხვევითი წინადადებები,
          ამოღებული საერთო ტექსტის საცავიდან. ბარათის ქვეშ მოთავსებულია ემოციური
          ბორბლის გრაფიკული სელექტორი, რომლის მიხედვითაც მომხმარებელი ამოირჩევს
          თუ რა ემოციას იწვევს მასში ბარათზე გამოტანილი მონაცემი. ჩვენ
          მომხმარებლის მიერ მარკირებულ ბარათს შევინახავთ მონაცემთა საცავში.
        </p>
        <form class="left__form">
          <h2>შეტყობინებების მისაღებად გამოიწერეთ</h2>
          <input
            type="text"
            placeholder="ელ-ფოსტა"
            class="left__form__input basic__input"
          />
          <button class="left__form__btn basic__btn">გამოწერა</button>
        </form>
      </div>
      <div class="right__section">
        <p>EGN/ქარ</p>
        <button class="auth__btn basic__btn">ავტორიზაცია</button>
        <button class="registration__btn basic__btn">რეგისტრაცია</button>
        <div class="social">
          <a href="#" target="_blank"
            ><p>Follow us on facebook</p>
            <i class="fab fa-facebook"></i
          ></a>
          <a href="#" target="_blank"
            ><p>Follow us on GitHub</p>
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
