<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet" />
    <!-- <link href="https://free.bboxtype.com/embedfonts/?family=FiraGO:300,400,500,700,800" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/main.min.css" />
    <link rel="stylesheet" href="../css/settings.css" />
    <title>Document</title>
  </head>

  <body class="home__body">

    <header>
        <div class="header__left__cont">
          <!-- <p id="eng" class="lang">ENG</p>
          <label class="switch">
            <input id="lang-checkbox" type="checkbox" checked />
            <span class="slider round"></span>
          </label>
          <p id="geo" class="lang lang__action">ქარ</p>
          -->
        </div> 
        <div class="header__right__cont">
          <a class="page__name action" href="#">ემოციური ყვავილი</a>
          <a class="username" href="#">ელენე არაბული</a>
          <div class="profile">
            <img
              class="avatar__img"
              src="../assets/142589748_2009267505880094_5454304750578971336_o@2x.png"
              alt="avatar"
            />
            <img src="../assets/Icon.svg" alt="arrow" class="arrow" />
            <div class="nav d-none">
              <ul>
                <li>
                    <a href="settings.html">
                        <button>
                        <img
                          src="../assets/manage_accounts_black_24dp.svg"
                          alt="manage accounts"
                          class="param_i"
                          />პროფილი
                        </button>
                        </a>
                </li>
                <hr />
                <li>
                  <button href="/settings.html">
                    <img
                      src="../assets/logout_black_24dp.svg"
                      alt="log out"
                      class="log__out_i"
                    />გასვლა
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

<div class="s_profile">
    <div class="s_profile_basic">
        <div class="s_profile_basic_image">

        </div>
        <div class="s_profile_basic_text">
            <h2>სახელი გვარი</h2>
        </br>
            <a href="">+ ფოტოს ატვირთვა</a>
            
        </div>
    </div>

    <div class="s_profile_form">

        <h2>პარამეტრები</h2>
        <div class="labels">
        <label class="s_profile_form_label" for="s_profile_form_email">მეილი</label>
        <label class="s_profile_form_label" for="s_profile_form_password">პაროლი</label>
        <label class="s_profile_form_label" for="s_profile_form_text_name">სახელი</label>
        <label class="s_profile_form_label" for="s_profile_form_text_surname">გვარი</label>

    </div>
        <form action="">
         <input class="s_profile_form_input" type="email" name="s_profile_form_email" id="s_profile_form_email"  placeholder="Email">
            <input class="s_profile_form_input" type="password" name="s_profile_form_password" id="s_profile_form_password"  placeholder="Password">
            <input class="s_profile_form_input" type="text" name="s_profile_form_text_name" id="s_profile_form_text_name"  placeholder="სახელი">
            <input class="s_profile_form_input" type="text" name="s_profile_form_text_surname" id="s_profile_form_text_surname"  placeholder="გვარი">
        </form>
    </div>
</div>
<script src="../js/home.js"></script>
</body>
</html>